{% extends 'base.html' %}

{% block title %}Edit {{ group.name }}{% endblock %}

{% block content %}

<h1>Edit {{ group.name }}</h1>

<form method="POST">

  <div class="form-group">
    <label>Name</label>
    <input name="name" value="{{ group.name }}" class="form-control">
  </div>

  <h2>Users</h2>

  {% for user in group.users %}
    <p>
      <a href="{{ url_for('.view_user', id=user.id) }}">{{ user.name }}</a> 
    </p>
  {% endfor %}

  <div class="form-group">
    <label>Add User</label>
    <input name="new_user_name" class="form-control">
  </div>

  <button type="submit" class="btn btn-primary">Save</button>

</form>

{% endblock %}