{% extends "base.html" %}
{% block title %}Authenticate{% endblock %}

{% block content %}
<div id="password-alert"></div>
<form id="authenticateForm">
  <h1 class="h3 mb-3 fw-normal">Quale studente?</h1>

  <div class="form-floating py-2">
    <select id="userSelect" class="form-control py-2">
      <option value="" selected disabled>Scegli il tuo nome</option>
      {% for user in users %}
      <option value="{{user.name}}">{{user.name}}</option>
      {% endfor %}
    </select>
  </div>

  <div class="py-2">
    <input
      type="password"
      class="form-control py-3"
      id="passwordInput"
      placeholder="Password"
    />
  </div>

  <button id="submitBtn" class="btn btn-primary w-100 py-2" type="submit">
    Entra
  </button>
</form>
{% endblock %}

{% block postscript %}
<script>
  const form = document.getElementById("authenticateForm");

  form.addEventListener("submit", (event) => {
    event.preventDefault();

    const username = document.getElementById("userSelect").value;
    const password = document.getElementById("passwordInput").value;
    const user_main = "{{ url_for('kaitor.user.main', token='__token__')}}";

    fetch("{{ url_for('kaitor.group.authenticate', group_id=group.id) }}", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        username: username,
        password: password,
      }),
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.token) {
          console.log(user_main, user_main.replace("<token>", data.token), data);
          window.location.href = user_main.replace("__token__", data.token);
        } else {
          document.getElementById("password-alert").innerHTML = `<div class="alert alert-danger">${data.error}</div>`;
        }
      });
  });
</script>
{% endblock %}
