<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        {{ bootstrap.load_css() }}
        {% block styles %}
        {% endblock %}

        <title>Your page title</title>
        {% endblock %}
    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show m-3" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <!-- Your page content -->
        {% block content %}{% endblock %}

        <!-- Optional JavaScript -->
        {{ bootstrap.load_js() }}
        {% block scripts %}
        {% endblock %}
    </body>
</html>