<div class="row">
  <form method="post" onsubmit="event.preventDefault();ajax_submit(event);">
  <div class="mb-3">
    <select class="form-select" id="selected_good" name="selected_good" required>
      <option value="">Un barile di...</option>
      {% for good in ["corn", "indigo", "sugar", "coffee", "tobacco"] %}
      {{ good }}: {{ board.towns[action.name].production(good) }}
      {% if board.towns[action.name].production(good) > 0 and board.has(good) %}
      <option value="{{ good }}">{{ good|translate }}</option>
      {% elif board.towns[action.name].production(good) > 0 and not board.has(good) %}
      <option value="{{ good }}" disabled>{{ good|translate }} -- esaurito</option>
      {% endif %}
      {% endfor %}
    </select>
  </div>
    <input type="hidden" name="name" value="{{ user.pseudo }}" />
    <input type="hidden" name="type" value="craftsman" />
  <button type="submit" class="btn btn-lg btn-primary w-100" {% if not board.towns[action.name].production()
    %}disabled{% endif %}>Prendi un barile in più</button>
  </form>
</div>
<div class="row my-2">
  <p>Oppure:</p>
  <form method="post" onsubmit="event.preventDefault();ajax_submit(event);">
    <input type="hidden" name="name" value="{{ user.pseudo }}" />
    <input type="hidden" name="type" value="refuse" />
    <button type="submit" class="btn btn-secondary w-100">Prosegui senza</button>
  </form>
</div>