{% extends "base.html" %} {% block content %}
<div class="p-3 p-md-4 p-lg-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">¡Rico Puerto!</h1>
    <p class="col-md-8 lead">Di seguito i giochi: quelli aperti alle iscrizioni, quelli in corso, quelli terminati.</p>
  </div>
  <div class="row align-items-md-stretch">
    <div class="col-lg-4 mb-3">
      <div class="h-100 p-3 p-md-4 text-white bg-dark rounded-3">
      {% include "open_games.html" %}
      </div>
    </div>
    <div class="col-lg-4 mb-3">
      <div class="h-100 p-3 p-md-4 text-white bg-dark rounded-3">
      {% include "active_games.html" %}
      </div>
    </div>
    <div class="col-lg-4 mb-3">
      <div class="h-100 p-3 p-md-4 text-white bg-dark rounded-3">
      {% include "closed_games.html" %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}{% endblock %}
{% block styles %}{% endblock %}