{% macro collapse_card(name, title) %}
<div class="card mt-3 col-md-9 col-lg-6 mx-auto" id="{{ name }}-card">
  <div id="{{ name }}-header" class="card-header" data-bs-toggle="collapse" data-bs-target="#{{ name }}-body"
    aria-expanded="true" aria-controls="{{ name }}-body" role="button">
    <span>{{ title }}</span>
  </div>
  <div id="{{ name }}-body" class="collapse card-body">
    {{ caller() }}
  </div>
  <script>
    let element = document.getElementById("{{ name }}-header")
    let target = element.getAttribute('data-bs-target');
    let cardId = element.closest('.card').id;
    let isCollapsed = localStorage.getItem('{{ name }}-card') === 'false';

    let collapseInstance = new bootstrap.Collapse(document.querySelector(target), {
      toggle: false
    });

    if (isCollapsed) {
      collapseInstance.hide();
    } else {
      collapseInstance.show();
    }

    document.getElementById("{{ name }}-body").addEventListener('shown.bs.collapse', function () {
      localStorage.setItem('{{ name }}-card', 'true');
    });

    document.getElementById("{{ name }}-body").addEventListener('hidden.bs.collapse', function () {
      localStorage.setItem('{{ name }}-card', 'false');
    });
  </script>
</div>
{% endmacro %}

{% macro print_action(action, translation) %}
<p class="my-0">
{% if action.type == 'governor' %}
{{ action.name }} diventa governatore.
{% elif action.type == 'role' %}
{{ action.name }} diventa {{ action.role|translate|lower }}.
{% elif action.type == 'builder' %}
{{ action.name }} costruisce {{ action.building_type|translate|lower }}.
{% elif action.type == 'captain' %}
{{ action.name }} carica {{ action.selected_good|translate }} sulla nave da {{ action.selected_ship }}.
{% elif action.type == 'storage' %}
{{ action.name }} conserva:{{ ' ogni '+action.small_warehouse_good|translate+',' if action.small_warehouse_good else ''}}{{ ' ogni '+action.large_warehouse_first_good|translate+',' if action.large_warehouse_first_good else ''}}{{ ' ogni '+action.large_warehouse_second_good|translate+',' if action.large_warehouse_second_good else ''}}{{ ' un barile di '+action.selected_good|translate+'.' if action.selected_good else ' niente.'}}.
{% elif action.type == 'craftsman' %}
{{ action.name }} sovrintende e produce un barile extra di {{ action.selected_good|translate }}.
{% elif action.type == 'trader' %}
{{ action.name }} vende un barile di {{ action.selected_good|translate }}.
{% elif action.type == 'settler' %}
{{ action.name }} pianta un {{ action.tile|translate }}{% if action.down_tile %} più una tessera coperta.{% endif %}{% if action.extra_person %} più un lavoratore extra{% endif %}.
{% endif %}
</p>
{% endmacro %}

{% macro turn_badge(town, you, expected) %}
{% set role = town.role %}
{% set is_you = (town.name == you) %}
{% set is_expected = (town.name == expected) %}
<li class="nav-item" title="{{ role|translate if role else 'Nessuno' }}">
  <span class="badge rounded-pill mx-1 bg-{{ role or 'other' }}" style="font-weight: {{ 800 if is_you else 400 }};
               text-decoration: {{ 'underline' if is_expected else 'none' }};
               padding: 0.75rem;
               padding-left: 0.65rem;
               padding-right: 0.65rem;
               color: black;" onclick="if (event.ctrlKey) {
                  const url = `{{ url_for('fastlogin', pseudo=town.name) }}`;

                  // Send a GET request to the /fastlogin/<name> endpoint
                  fetch(url, {
                    method: 'GET',
                    credentials: 'same-origin', // Include cookies in the request
                    headers: {
                      'X-Requested-With': 'XMLHttpRequest' // Mark the request as an AJAX request
                    }
                  })
                  .then(response => {
                    if (response.redirected) {
                      // The server responded with a redirect
                      window.location.href = response.url;
                    } else {
                      // Handle other response types if needed
                      console.log(response);
                    }
                  })
                  .catch(error => {
                    console.error('Error:', error);
                  });
                }">
    {{town.name }}
  </span>
</li>
{% endmacro %}

{% macro navbar_turn_badges(turn_info) %}
<ul class="navbar-nav me-auto">
  {% if turn_info %}
  {% for info in turn_info %}
  {{ turn_badge(info) }}
  {% endfor %}
  {% endif %}
</ul>
{% endmacro %}

{% macro counter_badge(type, amount) %}
<span class="counter-badge
             {% if type in ['money', 'people', 'points'] %}
             counter-badge-round
             {% else %}
             counter-badge-square
             {% endif %}
             bg-{{ type if type in ['money', 'people', 'points', 'corn', 'indigo', 'sugar', 'tobacco', 'coffee'] else 'other'}}
             text-white">{{ amount }}</span>
{% endmacro %}


{% macro state_card(town, translation, is_you=False) %}
<div class="card mt-3 col-md-9 col-lg-6 mx-auto" id="player-card-{{ town.name }}">
  <div id="player-card-header-{{ town.name }}" class="card-header d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
    data-bs-target="#player-status-{{ town.name }}" aria-expanded="true" aria-controls="player-status-{{ town.name }}">
    <span>{{ town.name }} {% if is_you %}(tu){% endif %}</span>
    <div>
    {% if is_you %}{{ counter_badge('points', town.points) }}{% endif %}
    {{ counter_badge('money', town.money) }}
    {{ counter_badge('people', town.people) }}
    {{ counter_badge('corn', town.corn) }}
    {{ counter_badge('indigo', town.indigo) }}
    {{ counter_badge('sugar', town.sugar) }}
    {{ counter_badge('tobacco', town.tobacco) }}
    {{ counter_badge('coffee', town.coffee) }}
    </div>
  </div>
  <div id="player-status-{{ town.name }}" class="collapse card-body">
    <p><strong>Ruolo:</strong> {% if town.role %}{{ town.role|translate}}{% else %}nessuno{% endif %}</p>
    <p><strong>Piantagioni:</strong>
      {% for tile, data in town.tiles.items() %}
      {% if data.placed > 0 %}
      {{ tile|translate }} ({{ data.worked }}/{{ data.placed }}){% if not loop.last %}, {% endif
      %}
      {% endif %}
      {% endfor %}
    </p>
    <p><strong>Costruzioni:</strong>
      {% for building, data in town.buildings.items() %}
      {% if data.placed > 0 %}
      {{ building|translate }} ({{ data.worked }}/{{ data.placed }}){% if not loop.last %}, {% endif %}
      {% endif %}
      {% endfor %}
    </p>
  </div>
</div>
<script>
  var element = document.getElementById("player-card-header-{{ town.name }}")
  var target = element.getAttribute('data-bs-target');
  var cardId = element.closest('.card').id;
  var isCollapsed = localStorage.getItem(cardId) === 'false';

  var collapseInstance = new bootstrap.Collapse(document.querySelector(target), {
    toggle: false
  });

  if (isCollapsed) {
    collapseInstance.hide();
  } else {
    collapseInstance.show();
  }

  document.getElementById("player-status-{{ town.name }}").addEventListener('shown.bs.collapse', function () {
    console.log("Shown!");
    localStorage.setItem('player-card-{{ town.name }}', 'true');
  });

  document.getElementById("player-status-{{ town.name }}").addEventListener('hidden.bs.collapse', function () {
    console.log("Collapse");
    localStorage.setItem('player-card-{{ town.name }}', 'false');
  });
</script>
{% endmacro %}

{% macro board_status(board, translation) %}
<div class="card mt-3 col-md-9 col-lg-6 mx-auto" id="board-card">
  <div id="board-card-header" class="card-header d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#board-status" aria-expanded="true" aria-controls="board-status">
    <span>#</span>
    <div>
    {{ counter_badge('points', board.points) }}
    {{ counter_badge('money', board.money) }}
    {{ counter_badge('people', board.people) }}
    {{ counter_badge('corn', board.corn) }}
    {{ counter_badge('indigo', board.indigo) }}
    {{ counter_badge('sugar', board.sugar) }}
    {{ counter_badge('tobacco', board.tobacco) }}
    {{ counter_badge('coffee', board.coffee) }}
    </div>
  </div>
  <div id="board-status" class="collapse card-body">
    <div class="row">
      <div class="col-md-6">
        <h6>Tiles</h6>
        <ul class="list-unstyled">
          {% for tile in board.exposed_tiles|unique %}
          <li>{{ board.exposed_tiles.count(tile) }} {{tile.split('_')[0]|translate }}</li>
          {% endfor %}
          <li>{{ board.unsettled_quarries }} cave</li>
          <li>{{ board.unsettled_tiles|length }} tessere</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h6>Edifici</h6>
        <ul class="list-unstyled">
          {% for building, amount in board.unbuilt.items() if amount > 0 %}
          <li>{{ amount }} {{ building|translate }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-md-6">
        <h6>Ships and Market</h6>
        <ul class="list-unstyled">
          {% for ship in board.goods_fleet.values() %}
          <li>
            Ship ({{ ship.size }}):
            {% if ship.type %}
              {{ counter_badge(ship.type, ship.amount) }} {{ ship.type.capitalize() }}
            {% else %}
              Empty
            {% endif %}
          </li>
          {% endfor %}
          <li>
            Market: ({{ board.market|length }}/4)
            {% for good in board.market %}
              {{ counter_badge(good, 1) }}
            {% endfor %}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<script>
  var element = document.getElementById("board-card-header")
  var target = element.getAttribute('data-bs-target');
  var cardId = element.closest('.card').id;
  var isCollapsed = localStorage.getItem(cardId) === 'false';

  var collapseInstance = new bootstrap.Collapse(document.querySelector(target), {
    toggle: false
  });

  if (isCollapsed) {
    collapseInstance.hide();
  } else {
    collapseInstance.show();
  }

  document.getElementById("board-status").addEventListener('shown.bs.collapse', function () {
    localStorage.setItem('board-card', 'true');
  });

  document.getElementById("board-status").addEventListener('hidden.bs.collapse', function () {
    localStorage.setItem('board-card', 'false');
  });
</script>
{% endmacro %}

{% macro past_actions(gd, translation) %}
<div class="card mt-3 col-md-9 col-lg-6 mx-auto" id="past-actions-card">
  <div id="past-actions-card-header" class="card-header d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#past-actions" aria-expanded="true" aria-controls="past-actions">
    <span>Ultime azioni</span>
  </div>
  <div id="past-actions" class="collapse card-body" style="max-height: 300px; overflow-y: auto;">
    {% for action in gd.past_actions|reverse %}
    <div class="row">
      {{ print_action(action, translation) }}
    </div>
    {% endfor %}
  </div>
</div>
<script>
  var element = document.getElementById("past-actions-card-header")
  var target = element.getAttribute('data-bs-target');
  var cardId = element.closest('.card').id;
  var isCollapsed = localStorage.getItem(cardId) === 'false';

  var collapseInstance = new bootstrap.Collapse(document.querySelector(target), {
    toggle: false
  });

  if (isCollapsed) {
    collapseInstance.hide();
  } else {
    collapseInstance.show();
  }

  document.getElementById("past-actions").addEventListener('shown.bs.collapse', function () {
    localStorage.setItem('past-actions-card', 'true');
  });

  document.getElementById("past-actions").addEventListener('hidden.bs.collapse', function () {
    localStorage.setItem('past-actions-card', 'false');
  });
</script>
{% endmacro %}

{% macro macrostyles() %}
<style>
  .bg-other {
    background-color: #8f8f8f;
  }

  .bg-builder {
    background-color: #b30e0e;
  }

  .bg-captain {
    background-color: #ff9500;
  }

  .bg-craftsman {
    background-color: #d4c40c;
  }

  .bg-mayor {
    background-color: #26ff00;
  }

  .bg-settler {
    background-color: #00f7ff;
  }

  .bg-trader {
    background-color: #382aff;
  }

  .bg-prospector {
    background-color: #910091;
  }

  .counter-badge {
    display: inline-block;
    padding: 0.3em 0.46em;
    font-size: 80%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
  }

  .counter-badge-round {
    border-radius: 1.2rem;
  }

  .counter-badge-square {
    border-radius: 0.25rem;
  }

  .bg-money {
    background-color: #e57a00;
  }

  .bg-people {
    background-color: #b60c12;
  }

  .bg-points {
    background-color: #fe59f0;
  }

  .bg-coffee {
    background-color: #480000;
  }

  .bg-corn {
    background-color: #ffc821;
  }

  .bg-indigo {
    background-color: #007bff;
  }

  .bg-sugar {
    background-color: #9c9c9c;
  }

  .bg-tobacco {
    background-color: #547004;
  }
</style>
{% endmacro %}