{% from 'macros.html' import turn_badge with context %}
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand d-lg-inline-block d-block">{{ active_game.name }}</span>
    <div class="d-flex navbar-expand flex-row w-100">
      <ul class="navbar-nav me-auto">
        {% if active_game %}
        {% for town in active_game.current_round() %}
        {{ turn_badge(town, you=user.pseudo, expected=active_game.expected.name) }}
        {% endfor %}
        {% endif %}
      </ul>
      <ul class="navbar-nav d-inline-flex me-md-5">
        <li class="nav-item me-2 mt-1">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="automateCheckbox" onchange="toggleAutomate(event);">
            <label class="form-check-label" for="automateCheckbox">Automate</label>
          </div>
        </li>
        <li class="nav-item">
          <form class="d-block" method="post" action="{{ url_for('main') }}">
            <button type="submit" class="btn btn-secondary">Esci</button>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>
<script>
document.getElementById("automateCheckbox").checked = window.automate;
</script>